@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rg3dxq');
	src:url('fonts/icomoon.eot?#iefixrg3dxq') format('embedded-opentype'),
		url('fonts/icomoon.woff?rg3dxq') format('woff'),
		url('fonts/icomoon.ttf?rg3dxq') format('truetype'),
		url('fonts/icomoon.svg?rg3dxq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sign:before {
	content: "\e600";
}
